@tailwind base;
@tailwind components;
@tailwind utilities;

/*? --------------- global.css --------------- */
.yellow-button {
  color: #001d3d;
  background-color: #ffd60a;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.blue-button {
  color: #ffd60a;
  background-color: #001d3d;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.white-button {
  color: #001d3d;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  text-align: center;
}

/*? --------------- Background Pattern --------------- */
.pattern-bg {
  background-image: radial-gradient(#454df7 0.6px, transparent 0.6px),
    radial-gradient(#454df7 0.6px, #ffffff 0.6px);
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
}

/*? --------------- In thy styles/globals.css --------------- */
.input {
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin: 4px 0;
}

.button {
  padding: 8px 16px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hover-effect:hover .icon {
  transform: translateX(-3px);
}

.hover-effect:hover .text {
  transform: translateX(3px);
}

.icon,
.text {
  transition: transform 0.3s ease;
}

/*? --------------- My classes table --------------- */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-body tr:nth-child(even) {
  background-color: #ffd60a;
}

.table-body tr:hover:nth-child(even) {
  background-color: #ffc300;
}

.table-body {
  cursor: pointer;
}

.table-body th,
.table-body td {
  border: 2px solid #000;
  padding: 8px;
  text-align: left;
}

.table-head tr th {
  padding: 8px 12px 8px 12px;
  border: 2px solid #000;
}

@media (max-width: 768px) {
  .table-head th {
    font-size: 0.8rem;
  }
  .table-body th,
  .table-body td {
    padding: 2px 4px;
    font-size: 0.85rem;
  }
}

@media (max-width: 640px) {
  .table-head th {
    font-size: 0.8rem;
  }
  .table-body th,
  .table-body td {
    padding: 1px 2px;
    font-size: 0.8rem;
  }
}

/*? --------------- For print as pdf --------------- */
@media print {
  .printableArea {
    padding-left: 1.5mm;
    padding-right: 1.5mm;
  }
}
